@import "vars"
@import "video.min.css"
@import "landingHeader"
@import "_pages/page01"
@import "_pages/page02"
@import "_pages/page04"
@import "_pages/page07"
@import "_pages/page10"
@import "landingFooter"

*
	box-sizing: border-box

.landing-topline, .landing-header, .landing-banner, .landing-consult, .landing-footer, .landing-main
	font-family: Tahoma
	color: $default-font-color

.landing-main
	padding-top: 80px

.landing-cat-red
	display: inline-block
	width: 12px
	height: 12px
	border-radius: 100%
	background: #e21e26
	margin-right: 10px
	border: 1px solid $border-c

.landing-cat-yellow
	@extend .landing-cat-red
	background: #f8ec12

.landing-cat-title-center
	@extend .landing-cat-title
	text-align: center

.landing-cat-list-megamargin
	@extend .landing-cat-list
	margin-bottom: 148px

.landing-cat-list-margin
	@extend .landing-cat-list
	margin-bottom: 80px

.landing-cat-item2
	.landing-cat-img
		margin-bottom: 10px

.landing-cat-img
	margin-bottom: 10px
	text-align: center
	img
		max-width: 100%
		min-width: 100%

.landing-cat-item3
	.landing-cat-title
		h3
			font-size: 14px
	.landing-cat-text
		font-size: 14px

.landing-cat-item2normal
	@extend .landing-cat-item
	width: 50%

.landing-cat-item3normal
	@extend .landing-cat-item3
	width: 45%

.landing-cat-list-smargin
	@extend .landing-cat-list
	margin-bottom: 30px

.landing-bot-line
	background-image: url(../img/bottom-image.jpg)
	height: 165px

.landing-header-content
	display: inline-block
	position: relative

.landing-header-kometlogo
	background-image: url(../img/komet-logo2.png)
	display: inline-block
	top: 20px
	right: -40px
	width: 141px
	height: 141px
	position: absolute
	background-size: 100%