@@include('layouts/header.html')

<section class="landing-main">
	<h2 class="landing-cat-name">
		Алмазные боры для препарирования под коронку
	</h2>
	<div class="landing-cat-list">
		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>
	</div>
</section>

@@include('layouts/footer.html')