@@include('layouts/header.html')

<section class="landing-header">
	<div class="landing-header-content">
		<span class="landing-header-kometlogo"></span>
		<h1 class="landing-header-title">
			<span>Терапевтические</span> инструменты 
			<div class="landing-header-comet">
				<span>KOMET</span> Dental
			</div>
		</h1>

		<div class="landing-header-text">
			<h2>Поставим всё необходимое для решения Ваших задач</h2>
			Позвоните или напишите - Вам ответит квалифицированный консультант.
			<br>
			С ним вы быстро подберёте нужные стоматологические инструменты
			<br>
			и ознакомитесь с последними новинками.
		</div>

		<div class="landing-header-btn-container">
			<a class="landing-header-btn" href="#">Войти в каталог</a>
		</div>
	</div>
</section>

<section class="landing-main">
	<h2 class="landing-cat-name">
		Шаровидные боры
	</h2>
	<div class="landing-cat-list">
		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/1.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Твердосплавные боры H1SE/SEM</a></h3>
			</div>
			<div class="landing-cat-text">
				Особые инновационные характеристики для снижения вибрации
				Воплощение концепции
				минимально инвазивной экскавации
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/2.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Твердосплавные эндодонтические боры H1SML</a></h3>
			</div>
			<div class="landing-cat-text">
				Высокоэффективный эндодонтический бор для препарирования перешейков при лечении корневых каналов
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/3.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Керамические боры K1SM</a></h3>
			</div>
			<div class="landing-cat-text">
				Инструмент чрезвычайно долговечен. Он иссекает кариозный дентин с абсолютной легкостью, в то время как твердую здоровую ткань не трогает
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/4.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Алмазные шаровидные боры</a></h3>
			</div>
			<div class="landing-cat-text">
				Самые популярные и востребованные терапевтами
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/5.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Полибор P1</a></h3>
			</div>
			<div class="landing-cat-text">
				Экскавация клинически бессимптомного кариеса в опасной близости к пульпе
				<br><br>
				Только мягкий (пораженный) дентин удаляется
			</div>
		</div>
	</div>

	<h2 class="landing-cat-name">
		Алмазные боры для препарирования
	</h2>

	<div class="landing-cat-list">
		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/6.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Алмазный бор  6830L/RL</a></h3>
			</div>
			<div class="landing-cat-text">
				Грушевидный, удлиненный, со скругленным кончиком
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/7.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">905</a></h3>
			</div>
			<div class="landing-cat-text">
				Обработка окклюзионных поверхностей
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/8.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">845KR</a></h3>
			</div>
			<div class="landing-cat-text">
				Усеченный конус со скругленной кромкой
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/9.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">859</a></h3>
			</div>
			<div class="landing-cat-text">
				Пиковидный
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/10.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6379</a></h3>
			</div>
			<div class="landing-cat-text">
				Для окклюзионного/
				лингвального иссечения
			</div>
		</div>
	</div>

	<h2 class="landing-cat-name">
		Твердосплавне боры для препарирования
	</h2>

	<div class="landing-cat-list">
		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/11.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">H1SE</a></h3>
			</div>
			<div class="landing-cat-text">
				Ступенчатая насечка обеспечивает высокую режущую способность при экскавации
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/12.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">H7</a></h3>
			</div>
			<div class="landing-cat-text">
				Грушевидный
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/13.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Р31R </a></h3>
			</div>
			<div class="landing-cat-text">
				Цилиндрический, со скругленным кончиком, с крестообразной насечкой
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/14.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">H2</a></h3>
			</div>
			<div class="landing-cat-text">
				Обратноконусный
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/15.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">H32 - бор для удаления амальгамы</a></h3>
			</div>
			<div class="landing-cat-text">
				Поперечная насечка для аксиального сверления
				<br><br>
				Пирамидальный режущий кончик
			</div>
		</div>
	</div>

	<h2 class="landing-cat-name">
		Микропрепарирование
	</h2>

	<div class="landing-cat-list">
		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/16.jpg" alt="">
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/17.jpg" alt="">
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/18.jpg" alt="">
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/19.jpg" alt="">
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/20.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="landing-cat-list">
		<div class="landing-cat-item3normal">
			<div class="landing-cat-title">
				<h3><a href="#">Инструменты для минимально инвазивного микропрепарирования</a></h3>
			</div>
			<div class="landing-cat-text">
				Техника микропрепарирования требует применения инструментов с маленькой рабочей частью и тонкой шейкой, именно таких, которые представлены в наборах инструментов, разработанных д-ром Ноймейером.
			</div>
		</div>
		<div class="landing-cat-item2normal">
			<div class="landing-cat-text">
					<b>Преимущества:</b>
					<br><br>
					• Улучшенная визуализация во время препарирования
					<br><br>
					• Точное иссечение материала благодаря применению инструментов разной абразивности
					<br><br>
					• Минимально инвазивное создание полостей и максимальное сохранение здоровой ткани зуба
					<br><br>
					• Предсказуемые результаты
			</div>
		</div>
	</div>

	<h2 class="landing-cat-name">
		Полиры
	</h2>

	<div class="landing-cat-list">
		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/21.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Высокоглянцевое полирование композита в два этапа</a></h3>
			</div>
			<div class="landing-cat-text">
				• Коррекция формы и предварительное полирование
				<br><br>
				• Высокоглянцевое полирование
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/22.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Полировочные спирали для композита</a></h3>
			</div>
			<div class="landing-cat-text">
				• "Одна форма подходит всем", она достигает 
				всех поверхностей
				<br><br>
				• Выдающаяся гибкость
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/23.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Двухэтапная полировка керамики</a></h3>
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/24.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Набор полиров для обработки керамики</a></h3>
			</div>
			<div class="landing-cat-text">
				3-х этапная обработка
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="img/pages/2/25.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Набор полиров для обработки композита</a></h3>
			</div>
			<div class="landing-cat-text">
				3-х этапная обработка
			</div>
		</div>

	</div>


</section>

@@include('layouts/footer.html')