@@include('layouts/header.html')

<section class="landing-main">
	<h2 class="landing-cat-name">
		Шаровидные боры
	</h2>
	<div class="landing-cat-list">
		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>
	</div>

	<h2 class="landing-cat-name">
		Алмазные боры для препарирования
	</h2>

	<div class="landing-cat-list">
		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>
	</div>

	<h2 class="landing-cat-name">
		Твердосплавне боры для препарирования
	</h2>

	<div class="landing-cat-list">
		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>
	</div>

	<h2 class="landing-cat-name">
		Микропрепарирование
	</h2>

	<div class="landing-cat-list">
		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>
	</div>
	<div class="landing-cat-list">
		<div class="landing-cat-item2">
			<div class="landing-cat-title">
				<h3><a href="#">Инструменты для минимально инвазивного микропрепарирования</a></h3>
			</div>
			<div class="landing-cat-text">
				Техника микропрепарирования требует применения инструментов с маленькой рабочей частью и тонкой шейкой, именно таких, которые представлены в наборах инструментов, разработанных д-ром Ноймейером.
			</div>
		</div>
		<div class="landing-cat-item2">
			<div class="landing-cat-text">
				<ul>
					<b>Преимущества:</b>
					<br>
					• Улучшенная визуализация во время препарирования
					<br>
					• Точное иссечение материала благодаря применению инструментов разной абразивности
					<br>
					• Минимально инвазивное создание полостей и максимальное сохранение здоровой ткани зуба
					<br>
					• Предсказуемые результаты
				</ul>
			</div>
		</div>
	</div>

	<h2 class="landing-cat-name">
		Полиры
	</h2>

	<div class="landing-cat-list">
		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Конусный желобообразный уступ
			</div>
		</div>

	</div>


</section>

@@include('layouts/footer.html')