@@include('layouts/header.html')

<section class="landing-header">
	<div class="landing-header-content">
		<span class="landing-header-kometlogo"></span>
		<h1 class="landing-header-title">
			<span>Хирургические</span> инструменты 
			<div class="landing-header-comet">
				<span>KOMET</span> Dental
			</div>
		</h1>

		<div class="landing-header-text">
			<h2>Поставим всё необходимое для решения Ваших задач</h2>
			Позвоните или напишите - Вам ответит квалифицированный консультант.
			<br>
			С ним вы быстро подберёте нужные стоматологические инструменты
			<br>
			и ознакомитесь с последними новинками.
		</div>

		<div class="landing-header-btn-container">
			<a class="landing-header-btn" href="#">Войти в каталог</a>
		</div>
	</div>
</section>

<section class="landing-main">
	
	<div class="landing-cat-list">
		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/4/1.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Звуковые насадки для хирургической стоматологии</a></h3>
			</div>
			<div class="landing-cat-text">
				• Минимально инвазивная работа с костью <br>
				• Распиливание кости <br>
				• Расщепление костного гребня <br>
				• Отделение зуба от альвеолы и деликатное его удаление
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/4/2.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Увеличение альвеолярного гребня</a></h3>
			</div>
			<div class="landing-cat-text">
				• Остеопластическому материалу придается необходимая форма немедленно после введения в область дефекта <br>
				• Требуется лишь незначительное вмешательство <br>
				• Минимальная травматичность при аугментации <br>
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/4/3.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Расщепление и конденсация/Горизонтальное увеличение костного гребня</a></h3>
			</div>
			<div class="landing-cat-text">
				• Титановые винты <br>
				• Звуковые насадки <br>
				• Распаторы <br>
				• Трепаны и экстракторы
			</div>
		</div>

	</div>

	<div class="landing-cat-list">
		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/4/4.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">H141 - твердосплавные фрезы</a></h3>
			</div>
			<div class="landing-cat-text">
				• Раскрытие кости <br>
				• Экспозиция имплантата перед использованием трепанов для извлечения имплантатов <br>
				• Маленькие диаметры для линейного препарирования (напр, синус-лифтинг) <br>
				• Большие диаметры для подготовки поверхности, (напр, препарирование ложа для имплантата)
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/4/5.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">H162ST -костная фреза острая как зуб Саблевидного Тигра</a></h3>
			</div>
			<div class="landing-cat-text">
				• Выдающаяся острота <br>
				• Идеальная режущая способность <br>
				• Разрезание кости <br>
				• Гемисекции <br>
				• Осевая перфорация кости <br>
				• Хирургическое удаление ретинированных зубов <br>
				Удаление остатков корня
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/4/6.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">H162SL/H254E/H255E - 
комбинированные фрезы для деликатного препарирования костной ткани</a></h3>
			</div>
			<div class="landing-cat-text">
				• Апикоэктамия <br>
				• Удаление ретинированных зубов <br>
				• Аксиальная перфорация <br>
				Гемисекция
			</div>
		</div>

	</div>

	<div class="landing-cat-list">
		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/4/7.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Трепаны</a></h3>
			</div>
			<div class="landing-cat-text">
				<b>• 227A </b>
				<br><br>
				Безопасное извлечение имплантата
				<br><br>
				<b>• 227B</b> 
				<br><br>
				Препарирование костных цилиндров
			</div>
		</div>

		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/4/8.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Универсальные пилотные сверла для имплантологии</a></h3>
			</div>
			<div class="landing-cat-text">
				• Особая пирамидальная форма кончика облегчает погружение <br><br>
				• Большое расстояние между лезвиями - быстрое выведение стружки <br><br>
				• Лазерная маркировка глубины
			</div>
		</div>

		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/4/9.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Алмазные диски Минифлекс</a></h3>
			</div>
			<div class="landing-cat-text">
				• Апикоэктомия в зоне моляров, в том числе с последующим закрытием дефекта выпиленным для создания доступа костным блоком, остеопластика синуса
				<br><br>
				• Используется с защитным кожухом
			</div>
		</div>

		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/4/10.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Универсальные подставки для инструментов</a></h3>
			</div>
			<div class="landing-cat-text">
				• Экономит место <br><br>
				• 6 силиконовых вставок - универсальные держатели для разных видов хвостовиков <br><br>
				• Подлежит стерилизации (дезинфекция, ультразвук, термодезинфектор)
			</div>
		</div>

	</div>

</section>

@@include('layouts/footer.html')