@@include('layouts/header.html')

<section class="landing-header">
	<div class="landing-header-content">
		<span class="landing-header-kometlogo"></span>
		<h1 class="landing-header-title">
			<span>Звуковые </span> насадки 
			<div class="landing-header-comet">
				<span>KOMET</span> Dental
			</div>
		</h1>

		<div class="landing-header-text">
			<h2>Поставим всё необходимое для решения Ваших задач</h2>
			Позвоните или напишите - Вам ответит квалифицированный консультант.
			<br>
			С ним вы быстро подберёте нужные стоматологические инструменты
			<br>
			и ознакомитесь с последними новинками.
		</div>

		<div class="landing-header-btn-container">
			<a class="landing-header-btn" href="#">Войти в каталог</a>
		</div>
	</div>
</section>

<section class="landing-main">
	<div class="landing-cat-list-margin">
		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/5/1.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Профилактика</a></h3>
			</div>
			<div class="landing-cat-text">Удаление налета Гигиена имплантов</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/5/2.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Терапия</a></h3>
			</div>
			<div class="landing-cat-text">
				Препарирование полостей <br>
				Микро/Скос <br>
				Шлифование/Создание формы <br>
				Обработка фиссур
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/5/3.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Парадонтология</a></h3>
			</div>
			<div class="landing-cat-text">
				Удаление зубного камня <br>
				Сглаживание поверхности корня
			</div>
		</div>

	</div>

	<div class="landing-cat-list-margin">
		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/5/4.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Эндодонтия</a></h3>
			</div>
			<div class="landing-cat-text">
				Ортоградная эндодонтия <br>
				Ретроградная эндодонтия <br>
				Активация ирригационного раствора

			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/5/5.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Ортопедия</a></h3>
			</div>
			<div class="landing-cat-text">
				Препарирование под виниры <br>
				Препарирование под коронку
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/5/6.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Хирургия</a></h3>
			</div>
			<div class="landing-cat-text">
				Латеральный синус-лифтинг <br>
				Работа с костью <br>
				Хирургическое удлинение коронки зуба
			</div>
		</div>

	</div>

	<h2 class="landing-cat-name">
		Звуковой наконечник и аксесcуары Komet Dental
	</h2>

	<div class="landing-cat-list">
		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/5/7.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Звуковой наконечник</a></h3>
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/5/8.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Подставки с силиконовыми вставками</a></h3>
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/5/9.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Аксессуары</a></h3>
			</div>
		</div>
		
	</div>

</section>

@@include('layouts/footer.html')