@@include('layouts/header.html')

<section class="landing-header">
	<div class="landing-header-content">
		<span style="right: -15px" class="landing-header-kometlogo"></span>
		<h1 style="margin-bottom: 50px" class="landing-header-title">
			<span>Наборы</span>
			<div class="landing-header-comet">
				<span>KOMET</span> Dental
			</div>
		</h1>

		<div class="landing-header-text">
			<h2>Поставим всё необходимое для решения Ваших задач</h2>
			Позвоните или напишите - Вам ответит квалифицированный консультант.
			<br>
			С ним вы быстро подберёте нужные стоматологические инструменты
			<br>
			и ознакомитесь с последними новинками.
		</div>

		<div class="landing-header-btn-container">
			<a class="landing-header-btn" href="#">Войти в каталог</a>
		</div>
	</div>
</section>

<section class="landing-main">

	<div class="landing-cat-list-megamargin">
		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/6/1.jpg" alt="">
			</div>
			<div class="landing-cat-title-center">
				<h3><a href="#">Препарирование полости</a></h3>
			</div>
		</div>

		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/6/2.jpg" alt="">
			</div>
			<div class="landing-cat-title-center">
				<h3><a href="#">Обработка пломб</a></h3>
			</div>
		</div>

		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/6/3.jpg" alt="">
			</div>
			<div class="landing-cat-title-center">
				<h3><a href="#">Препарирование под виниры</a></h3>
			</div>
		</div>

		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/6/4.jpg" alt="">
			</div>
			<div class="landing-cat-title-center">
				<h3><a href="#">Препарирование титана в ротовой полости</a></h3>
			</div>
		</div>

	</div>

	<div class="landing-cat-list-megamargin">
		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/6/5.jpg" alt="">
			</div>
			<div class="landing-cat-title-center">
				<h3><a href="#">Препарирование под коронку</a></h3>
			</div>
		</div>

		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/6/6.jpg" alt="">
			</div>
			<div class="landing-cat-title-center">
				<h3><a href="#">Парадонтологический набор</a></h3>
			</div>
		</div>

		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/6/7.jpg" alt="">
			</div>
			<div class="landing-cat-title-center">
				<h3><a href="#">Лаборатория</a></h3>
			</div>
		</div>

		<div class="landing-cat-item4">
			<div class="landing-cat-img">
				<img src="img/pages/6/8.jpg" alt="">
			</div>
			<div class="landing-cat-title-center">
				<h3><a href="#">Хирургия</a></h3>
			</div>
		</div>

	</div>

</section>

@@include('layouts/footer.html')