@@include('layouts/header.html')

<section class="landing-header">
	<div class="landing-header-content">
		<span style="top: 78px;right: 86px;width: 90px;height: 90px;" class="landing-header-kometlogo"></span>
		<h1 class="landing-header-title">
			<span>Парадонтологические </span> инструменты 
			<div class="landing-header-comet">
				<span>KOMET</span> Dental
			</div>
		</h1>

		<div class="landing-header-text">
			<h2>Поставим всё необходимое для решения Ваших задач</h2>
			Позвоните или напишите - Вам ответит квалифицированный консультант.
			<br>
			С ним вы быстро подберёте нужные стоматологические инструменты
			<br>
			и ознакомитесь с последними новинками.
		</div>

		<div class="landing-header-btn-container">
			<a class="landing-header-btn" href="#">Войти в каталог</a>
		</div>
	</div>
</section>

<section class="landing-main">

	<div class="landing-cat-list">
		<div class="landing-cat-item1-part-left">
			<div class="landing-cat-img">
				<img src="img/pages/7/1.jpg" alt="">
			</div>
		</div>

		<div class="landing-cat-item1-part-right">
			<div class="landing-cat-title">
				<h3><a href="#">Набор <br> парадонтологических <br> инструментов <br> Komet Dental</a></h3>
			</div>
			<div class="landing-cat-text">
				Набор РА, содержащий <br> инструменты для <br> пародонтологического <br> лечения
			</div>
		</div>

	</div>

	<h2 class="landing-cat-name">
		Парадонтологические боры
	</h2>

	<div class="landing-cat-list">
		<div class="landing-cat-item6">
			<div class="landing-cat-img">
				<img src="img/pages/7/b1.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3>
					<a href="#"><span class="landing-cat-red"></span>8831</a>
					<a href="#"><span class="landing-cat-yellow"></span>831EF</a>
				</h3>
			</div>
			<div class="landing-cat-text">
				Алмазный конусный бор для выравнивания корней
			</div>
		</div>

		<div class="landing-cat-item6">
			<div class="landing-cat-img">
				<img src="img/pages/7/b2.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3>
					<a href="#"><span class="landing-cat-red"></span>8832</a>
					<a href="#"><span class="landing-cat-yellow"></span>832EF</a>
				</h3>
			</div>
			<div class="landing-cat-text">
				Алмазный пламевидный бор для выравнивания корней
			</div>
		</div>

		<div class="landing-cat-item6">
			<div class="landing-cat-img">
				<img src="img/pages/7/b3.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3>
					<a href="#"><span class="landing-cat-red"></span>8831L</a>
					<a href="#"><span class="landing-cat-yellow"></span>8831LEF</a>
				</h3>
			</div>
			<div class="landing-cat-text">
				Алмазный конусный удлиненный бор для выравнивания корней
			</div>
		</div>

		<div class="landing-cat-item6">
			<div class="landing-cat-img">
				<img src="img/pages/7/b4.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3>
					<a href="#"><span class="landing-cat-red"></span>8832L</a>
					<a href="#"><span class="landing-cat-yellow"></span>8832LEF</a>
				</h3>
			</div>
			<div class="landing-cat-text">
				Алмазный пламевидный удлиненный бор для выравнивания корней
			</div>
		</div>

		<div class="landing-cat-item6">
			<div class="landing-cat-img">
				<img src="img/pages/7/b5.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Стальной пламевидный бор для выравнивания корней
			</div>
		</div>

		<div class="landing-cat-item6">
			<div class="landing-cat-img">
				<img src="img/pages/7/b6.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">6856 - Бор конус со скругленным кончиком</a></h3>
			</div>
			<div class="landing-cat-text">
				Стальной конусный бор для выравнивания корней
			</div>
		</div>

	</div>

</section>

@@include('layouts/footer.html')