@@include('layouts/header.html')

<section class="landing-header">
	<div class="landing-header-content">
		<span style="right: -15px" class="landing-header-kometlogo"></span>
		<h1 style="margin-bottom: 50px" class="landing-header-title">
			<span>Профилактика</span>
			<div class="landing-header-comet">
				<span>KOMET</span> Dental
			</div>
		</h1>

		<div class="landing-header-text">
			<h2>Поставим всё необходимое для решения Ваших задач</h2>
			Позвоните или напишите - Вам ответит квалифицированный консультант.
			<br>
			С ним вы быстро подберёте нужные стоматологические инструменты
			<br>
			и ознакомитесь с последними новинками.
		</div>

		<div class="landing-header-btn-container">
			<a class="landing-header-btn" href="#">Войти в каталог</a>
		</div>
	</div>
</section>

<section class="landing-main">
	<h2 class="landing-cat-name">
		Профилактика Komet Dental
	</h2>
	<div class="landing-cat-list">
		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/8/1.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">
					H162SL/H254E/H255E - 
					комбинированные фрезы для деликатного препарирования костной ткани
				</a></h3>
			</div>
			<div class="landing-cat-text">
				Апикоэктамия <br>
				Удаление ретинированных зубов <br>
				Аксиальная перфорация <br>
				Гемисекция
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/8/2.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">
					H162SL/H254E/H255E - 
					комбинированные фрезы для деликатного препарирования костной ткани
				</a></h3>
			</div>
			<div class="landing-cat-text">
				Апикоэктамия <br>
				Удаление ретинированных зубов <br>
				Аксиальная перфорация <br>
				Гемисекция
			</div>
		</div>

		<div class="landing-cat-item3">
			<div class="landing-cat-img">
				<img src="img/pages/8/3.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">
					H162SL/H254E/H255E - 
					комбинированные фрезы для деликатного препарирования костной ткани
				</a></h3>
			</div>
			<div class="landing-cat-text">
				Апикоэктамия <br>
				Удаление ретинированных зубов <br>
				Аксиальная перфорация <br>
				Гемисекция
			</div>
		</div>
	</div>
</section>

@@include('layouts/footer.html')