@@include('layouts/header.html')

<section class="landing-header">
	<div class="landing-header-content">
		<span class="landing-header-kometlogo"></span>
		<h1 style="margin-bottom: 55px;" class="landing-header-title">
			<span>Эндодонтия </span>
			<div class="landing-header-comet">
				<span>KOMET</span> Dental
			</div>
		</h1>

		<div class="landing-header-text">
			<h2>Поставим всё необходимое для решения Ваших задач</h2>
			Позвоните или напишите - Вам ответит квалифицированный консультант.
			<br>
			С ним вы быстро подберёте нужные стоматологические инструменты
			<br>
			и ознакомитесь с последними новинками.
		</div>

		<div class="landing-header-btn-container">
			<a class="landing-header-btn" href="#">Войти в каталог</a>
		</div>
	</div>
</section>

<section class="landing-main">
	
	<div class="landing-cat-list">
		<div class="landing-cat-item2">
			<div class="landing-cat-img">
				<img src="img/pages/10/1.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Механическое препарирование
				<br>
				корневых каналов</a></h3>
			</div>
			<div class="landing-cat-text">
				F360 / F6 SkyTaper
				<br>
				Алмазные и твердосплавные боры для создания полости доступа
			</div>
		</div>

		<div class="landing-cat-item2">
			<div class="landing-cat-img">
				<img src="img/pages/10/2.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Endo Rescue - набор для извлечения
				<br>
				обломков инструментов в канале</a></h3>
			</div>
		</div>
	</div>

	<div class="landing-cat-list">
		<div class="landing-cat-item2">
			<div class="landing-cat-img">
				<img src="img/pages/10/4.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Звуковые насадки</a></h3>
			</div>
			<div class="landing-cat-text">
				Ортоградная эндодонтия <br>
				Ретроградная эндодонтия <br>
				Активация ирригационного раствора
			</div>
		</div>

		<div class="landing-cat-item2">
			<div class="landing-cat-img">
				<img src="img/pages/10/3.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Аксессуары</a></h3>
			</div>
		</div>
	</div>

</section>

@@include('layouts/footer.html')