@@include('layouts/header.html')

<section class="landing-main">
	
	<div class="landing-cat-list">
		<div class="landing-cat-item2">
			<div class="landing-cat-img">
				<img src="img/pages/10/1.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Механическое препарирование
				<br>
				корневых каналов</a></h3>
			</div>
			<div class="landing-cat-text">
				F360 / F6 SkyTaper
				<br>
				Алмазные и твердосплавные боры для создания полости доступа
			</div>
		</div>

		<div class="landing-cat-item2">
			<div class="landing-cat-img">
				<img src="img/pages/10/2.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Endo Rescue - набор для извлечения
				<br>
				обломков инструментов в канале</a></h3>
			</div>
		</div>
	</div>

	<div class="landing-cat-list">
		<div class="landing-cat-item2">
			<div class="landing-cat-img">
				<img src="img/pages/10/4.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Звуковые насадки</a></h3>
			</div>
			<div class="landing-cat-text">
				Ортоградная эндодонтия <br>
				Ретроградная эндодонтия <br>
				Активация ирригационного раствора
			</div>
		</div>

		<div class="landing-cat-item2">
			<div class="landing-cat-img">
				<img src="img/pages/10/3.jpg" alt="">
			</div>
			<div class="landing-cat-title">
				<h3><a href="#">Аксессуары</a></h3>
			</div>
		</div>
	</div>

</section>

@@include('layouts/footer.html')