<section class="landing-footer">

	<section class="landing-video">
		<div class="stomport-shop-item-video-container">
	    <div class="stomport-shop-item-video-title">KOMET Dental</div>
	    <div class="clear"></div>
	    <div class="stomport-shop-item-video-komet-logo-container">
        <div class="stomport-shop-item-video-komet-logo"></div>
	    </div>
	    <div class="stomport-shop-item-video-text-container">
        <div class="stomport-shop-item-video-text">
          <p>Компания <strong>KOMET Dental® GEBR. BRASSELER GmbH &amp; Co</strong> – производитель ротационных вращающихся  инструментов с 1923 года. Более 90 лет Komet Dental остается верными своим традициям таким, как инновации, точность и качество,  производит более 5000 видов стоматологических инструментов используя только высокотехнологичные материалы.</p>
        </div>
        <div class="stomport-shop-item-video-arrow"></div>
	    </div>
	    <div class="stomport-shop-item-video">
        <a class="stomport-shop-item-video-overlay" href="https://www.youtube.com/watch?v=43kmBNDj65E"></a>
        <iframe width="286" height="180" src="https://www.youtube.com/embed/43kmBNDj65E" frameborder="0" allowfullscreen=""></iframe>
        <div class="stomport-shop-item-video-subtext">KOMET Dental® - Виртуальный тур по производству</div>
	    </div>
  	</div>
	</section>
		
	<section class="landing-banner">
		<div class="landing-banner-inner">
			<div class="landing-banner-img">
				<img src="img/stomport-logo-bottom.png" alt="СтомПорт интернет-магазин">
			</div>
			<div class="landing-banner-text">
				Официальный дистрибьютор инструментов <b>Komet</b><sup>®</sup> в России
				<br>
				производитель <b>GEBR. BRASSELER GmbH & Co</b>, Германия
			</div>
		</div>
	</section>

	<section class="landing-consult">
		<h1 class="landing-consult-title">
			<span>ВПЕРВЫЕ!</span>
			Профессиональная видео-консультация.
		</h1>
		<div class="landing-consult-row">
			<div class="landing-consult-item">
				<div class="landing-consult-item-img">
					<img src="img/consultImg1.jpg" alt="">
				</div>
				<div class="landing-consult-footer">
					<a href="tel:+7 495 150 10 16" class="landing-consult-item-btn">495 150 10 16</a>
				</div>
			</div>
			<div class="landing-consult-item">
				<div class="landing-consult-item-img">
					<img src="img/consultImg2.jpg" alt="">
				</div>
				<div class="landing-consult-footer">
					Позвоните нам по телефону 
					<br>
					и смотрите у себя на экране!
				</div>
			</div>
		</div>
	</section>

	<section class="landing-plus">
		<div class="landing-plus-row">
			<div class="landing-plus-item">
				<div class="landing-plus-item-img">
					<img src="img/bottom-logo1.png" alt="">
				</div>
				<div class="landing-plus-title">
					Широкий ассортимент
				</div>
				<div class="landing-plus-text">
					Огромный ассортимент
					<br>
					на нашем складе. 
					Более 3000 наименований!
				</div>
			</div>
			<div class="landing-plus-item">
				<div class="landing-plus-item-img">
					<img src="img/bottom-logo2.png" alt="">
				</div>
				<div class="landing-plus-title">
					Скорость доставки
				</div>
				<div class="landing-plus-text">
					Cкорость доставки
					<br>
					по России 2 дня
					<br>
					с момента оплаты.
				</div>
			</div>
			<div class="landing-plus-item">
				<div class="landing-plus-item-img">
					<img src="img/bottom-logo3.png" alt="">
				</div>
				<div class="landing-plus-title">
					Выезд специалиста
				</div>
				<div class="landing-plus-text">
					Профессиональная консультация по подбору продукции в режиме онлайн. Выезд специалиста (бесплатно)! 
				</div>
			</div>
		</div>
	</section>

</section>

</body>
</html>